<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hawaiian Assessment
      </h1>
      <h2 class="subtitle">
        v2.0, Phoenix Edition
      </h2>
    </div>
  </div>
</section>